# Example environment config for starting via docker-compose
# Rename to .env to configure the app
MONGO_URI=mongodb://localhost:27017/?directConnection=true
MONGO_USER=
MONGO_PASS=
REDIS_HOST=localhost
S3_URL=http://localhost:9090
S3_REGION=fra1
S3_BUCKET_NAME=florians-realtime-chat-bucket
S3_DEBUG=true
S3_ACCESS_KEY_ID=NOT_NEEDED
S3_SECRET_ACCESS_KEY=NOT_NEEDED
JWT_SECRET=INSERT_YOUR_JWT_SECRET_HERE
COTURN_SECRET=INSERT_YOUR_COTURN_SECRET_HERE