apiVersion: v1
kind: Service
metadata:
  name: realtime-chat-peer-server
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 9000
      targetPort: 9000
      protocol: TCP
      name: http
  selector:
    {{- include "realtime-chat.selectorLabels" . | nindent 4 }}
