.sidebar {
    width: 375px;
    min-width: 375px;
}

.contact:hover {
    background-color: #eee;
}

.contact.active {
    background-color: #eee;
}

video {
    max-height: 80%;
    margin: 0 auto;
}

.call-bar {
    left: calc(50% - 16px);
    bottom: 10%;
}
